.sport-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #2CF5B2;
    overflow: auto;
}

.sport-div h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #0C4431;
}

.sport-div h4 {
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #0C4431;
    text-align: center;
    margin-bottom: 50px;
}

.box-specifiche {
    width: 312px;
    display: flex;
    align-items: center;
    }

.specifiche {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nome-quantità {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media(min-width:500px) {
    .specifiche {
        width: 410px;
}

@media(min-width:500px) {
    .specifiche {
        width: 410px;
    }
}

.specifiche .nome-quantità .nome {
    width: 200px;
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 700;
}

.specifiche .nome-quantità .quantità {
    width: 100px;
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 700;
}

.sport-div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin: 0 0 30px 0;
}

.sport-div h5 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.sport-div form textarea {
    width: 500px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0C4431;
    border-radius: 8px;
    scroll-behavior: auto;
    padding: 5px 3px;
}

input#data-allenamento {
    background-color: transparent;
    width: 140px;
    height: 30px;
    color: #000;
    text-align: left;
    font-size: 16px;
    margin: 6px;
    border-radius: 8px;
    padding: 3px;
}


@media (max-width: 550px) {
    .snack-div form textarea {
        width: 80%;
    }
}

.sport-div form a{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFFFFFA1;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.sport-div form .confirm-button, 
.sport-div form .back-to-diets{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    background-color: #1F6845E5;
    color: #FFFFFFD1;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.sport-div form .back-to-diets {
    background-color: #FFFFFFA1;
    color: #000000;
}

.sport-div form .confirm-button.disabled {
    background-color: #303331e5;
    color: #FFFFFFD1;
    pointer-events: none;
}

.select-item span {
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px;
}

.bottoni {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.add {
    height: 50px;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
    margin-top: -20px;
}

.sport-div #box-data {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add svg {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}

#box-data #prova {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
}

#prova input[type=text] {
    width: 60%;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border-radius: 7px;
}

#prova input[type=number] {
    width: 30%;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border-radius: 7px;
}