.diet-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:max-content;
  width: 100%;
  background-color: transparent;
}
.diet-div .logo {
  margin-top: 20px;
  width: 180px;
  height: 180px;
}
.diet-div span {
  font-size: 23px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-align: center;
}

.diet-div .select-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}
.diet-div .select-div .select-item,.diet-div .select-div .select-item--selected  {
  width: 120px;
  height: 120px;
  background-color:#00000080;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.diet-div .select-div .selected {
  background-color:#F4AA41E5;
}


.diet-div form {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin: 60px 0;
}

.diet-div form a{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFFFFFA1;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.diet-div form .confirm-button, 
.diet-div form .back-to-diets{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  padding: 0px;
  background-color: #1F6845E5;
  color: #FFFFFFD1;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}
.diet-div form .back-to-diets {
  background-color: #FFFFFFA1;
  color: #000000;
}
.diet-div form .confirm-button.disabled {
  background-color: #303331e5;
  color: #FFFFFFD1;
  pointer-events: none;
}