.dispensa-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 100%;
    min-height: 100vh;
    outline: none;
    background-color: #2CF5B2;
    justify-content: center;
    overflow: scroll;
}

.upper-dispensa {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 20px;
}

.titolo-dispensa {
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #0C4431;
    text-align: center;
}

.dispensa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.alimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.alimento .immagine {
    width: 50px;
}

.ingrediente-dispensa {
    width: 180px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.quantità-dispensa {    
    width: 90px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
}