.elettrodomestici-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2CF5B2;
}

.elettrodomestici-div span {
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #0C4431;
    text-align: center;
    margin-top: 20px;
}

.elettrodomestici-div .select-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

@media (min-width: 900px) {
    .elettrodomestici-div .select-div {
        grid-template-columns: repeat(4, 1fr);
    }
    .elettrodomestici-div {
        height: 100%;
    }
}

@media (max-width: 900px) {
    .elettrodomestici-div {
        height: 100%;
    }
}

@media (max-width: 400px) {
    .elettrodomestici-div .select-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

.elettrodomestici-div .select-div .select-item,
.elettrodomestici-div .select-div .select-item--selected  {
    width: 100%;
    height: 90px;
    background-color:rgba(12, 68, 49, 0.9);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0C4431;
    overflow: hidden;
    gap: 5px;
}

@media (min-width: 480px) {
    .elettrodomestici-div .select-div .select-item,
    .elettrodomestici-div .select-div .select-item--selected{
        width: 110px;
    }
}

.elettrodomestici-div .select-div .selected {
    background-color:#AEF7DF;
    color: #000;
}

.elettrodomestici-div .select-div .selected span{
    color: #000;
}

.elettrodomestici-div form {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 20px 0;
}

.elettrodomestici-div form a{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFFFFFA1;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.elettrodomestici-div form .confirm-button, 
.elettrodomestici-div form .back-to-diets{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    background-color: #1F6845E5;
    color: #FFFFFFD1;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.elettrodomestici-div form .back-to-diets {
    background-color: #FFFFFFA1;
    color: #000000;
}

.elettrodomestici-div form .confirm-button.disabled {
    background-color: #303331e5;
    color: #FFFFFFD1;
    pointer-events: none;
}

@media (min-height: 840px) {
    .elettrodomestici-div {
        height: 100%;
    }
}

.elettrodomestici-div .select-item span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    line-height: 1.2;
    letter-spacing: 0px;
  }