.home-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2CF5B2;
}
.home-top-div {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.frase-motivazionale {
    margin-top: 20px;
}

.home-bottom-div{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.background {
    width: 100%;
    min-width: 900px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bottom-div div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-bottom-div div .go-to-registration,.home-bottom-div div .social-registration  {
    width: 310px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.home-bottom-div div span {
    align-self: center;
    margin-bottom: 8px;
    color: #0C4431;
    font-size: 16px;
}
.home-bottom-div div .social-registration {
    color:  #060606;
    background-color: #FFFFFF;
    margin: 5px 0;
}
.home-bottom-div div p {
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    color: #0C4431;
    align-self: center;
}
.home-bottom-div div p a {
    color: #0C4431;
}