.menu-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2CF5B2;
}

.menu-view >div {
  max-width: 800px;
}

.menu-view .profile-div {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-items: center;
  justify-content: left;
}

.menu-view .profile-div .profile-img {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.menu-view .profile-div .info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.menu-view .profile-div .info>span {
  color: #FFFF;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.5;

}

.menu-view .profile-div .info .profile-name {
  line-height: 40px;
  font-size: 27px;
  font-weight: 700;
  margin-top:-50px;
}

.menu-view .profile-div .info .profile-name>span {
  color: #000000;
}

.menu-view .week {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
}

.menu-view .week span {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.5;
  padding: 0 0 10px 0;
  margin-bottom: 0px;
}

.menu-view .week-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: 60px;
  min-height: 60px;
  background-color: #00000096;
  border-radius: 10px;
  padding: 0 13px;
}

.menu-view .week-div a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  background-color: #FFFFFF80;
  font-size: 24px;
  border-radius: 17px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.menu-view .week-div a.activated {
  background-color: #1F6845;
  color: #FFFFFF;
}

.pranzo,
.cena {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

.pranzo #nomepasto,
.cena #nomepasto {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  position: relative;
  left: 0;
}

#carouselpranzo,
#carouselcena {
  width: 100%;
  display: flex;
  justify-content: center;
}

.primascelta {
  background-color: rgba(31, 104, 69, 0.6);
  padding: 10px 30px 10px 30px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

button.carousel-control-next {
  width: auto;
}

button.carousel-control-prev {
  width: auto;
}

.pranzo_lun span,
.cena_lun span {
  color: #FFFF;
}