/*REGISTER*/
.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 100%;
  min-height: 100%;
  outline: none;
  background-color: #2CF5B2;
  justify-content: center;
}

/*titolo*/
.register-section h2{
  font-size: 35px;
  margin-bottom: 50px;
}

/*form*/
.input-container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  max-width: 900px;
  width: 100%;
  margin-top: 20px;
}

.input-container-form .input-div {
  display: flex;
  align-items: center;
  width: 65%;
  gap: 10px;
  font-size: 19px;
  flex-direction: column;
}

.register-section #nome::placeholder,
.register-section #cognome::placeholder,
.register-section #eta::placeholder,
.register-section #citta::placeholder,
.register-section #email::placeholder,
.register-section #password::placeholder,
.register-section #ConfermaPassword::placeholder{
  color: rgba(12, 68, 49, 0.6);
  font-weight: bold;
}

.input-container-form ul{
  list-style: none;
  margin: -10px 1px;
  padding: 0px;
  align-self: flex-start;
}

.input-container-form ul li{
  align-self: flex-start;
  font-size: 15px;
  color: #0C4431;;
  font-weight: bold;
  word-wrap: break-word;
}

.input-container-form .input-div  input{
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #0C4431;
  background-color: rgba(174, 247, 223, 0.9);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  border: 0.1px solid black;
}

.input-container-form .input-div label {
  display: none;
}

@media (max-width: 768px) {
    .input-container-form .input-div  input {
        max-width: 250px;
    }
}

@media (max-width: 900px) {
  .input-container-form .input-div  input {
      max-width: 400px;
  }
}

.input-container-form .input-div input[type="number"]::-webkit-outer-spin-button,
.input-container-form .input-div input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
} 

.input-container-form .input-div  #date{
  color: var(--text-color-rich-black);
  padding: 0 5px;
  cursor: pointer;
}

.input-div  #date::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

.input-container-form .input-container-btn-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;  
  margin-bottom: 10px;
}

.input-container-form .input-container-btn-div .input-container-btn,
.input-container-form .input-container-btn-div .torna-indietro {
  background-color:  #0d1b2a8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.05;
  margin-left: 10px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container-form .input-container-btn-div .torna-indietro {
  margin-left: -5px;
}

.input-container-form .input-container-btn-div .input-container-btn:hover,
.input-container-form .input-container-btn-div .torna-indietro:hover {
  scale: 1.05;
  box-shadow: 0px 0px 45px 0px #415a779f;
}

.input-container-form .input-container-btn-div .input-container-btn:active,
.input-container-form .input-container-btn-div .torna-indietro:active {
  scale: 0.95;
}




















/*Form*/
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1px;
}

.login-form div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  font-size: 19px;
  flex-wrap: wrap;
  margin: 10px; 
}

.label-form {
  width: 30%;
  flex: 1;
  display: none;
}

.login-section #email, 
.login-section #password {
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #0C4431;
  background-color: rgba(174, 247, 223, 0.9);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  border: 0.1px solid black;
}

.login-section #email::placeholder,
.login-section #password::placeholder {
  color: rgba(12, 68, 49, 0.6);
  font-weight: bold;
}

.login-form ul{
  list-style: none;
  margin: -7px 1px;
  padding: 0px;
  font-size: 16px;
  align-self: flex-start;
}

.login-form .login-container-btn {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.login-btn,
.torna-indietro {
  background-color:  #0C4431;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.05;
  text-decoration: none;
  height: 30px;
  width: 100px;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn:hover,
.torna-indietro:hover {
  scale: 1.05;
  box-shadow: 0px 0px 45px 0px #415a779f;
}

.login-btn:active,
.torna-indietro:active {
  scale: 0.95;
}