.ricetta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 100%;
    min-height: 100vh;
    outline: none;
    background-color: #2CF5B2;
    justify-content: center;
}

.upper-ricetta {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.immagine-ricetta {
    width: 50%;
    margin-top: 20px;
}

.immagine-ricetta img {
    width: 100%;
}

.ricetta {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(min-width: 520px) {
    .ricetta {
        width: auto;
    }
}

.ricetta .link-video .titolo-video,
.ricetta .link-ricetta .titolo-ricetta {
    font-size: 18px;
    font-weight: 600;
}

.ricetta .link-ricetta,
.ricetta .link-video {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.ricetta .link-video a,
.ricetta .link-ricetta a {
    margin-left: 10px;
}

.ingredienti-ricetta .box-ingrediente {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.ingredienti-ricetta .box-ingrediente .ingrediente-ricetta {
    width: 250px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.ingredienti-ricetta .box-ingrediente .grammatura-ricetta {
    width: 80px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width: 490px) {
    .ingredienti-ricetta .lista .box-ingrediente .ingrediente-ricetta {
        width: 300px;
    }
    .ingredienti-ricetta .lista .box-ingrediente .grammatura-ricetta {
        width: 100px;
    }
}

@media(min-width: 520px) {
    .ingredienti-ricetta .lista .box-ingrediente .ingrediente-ricetta {
        width: 340px;
    }
    .ingredienti-ricetta .lista .box-ingrediente .grammatura-ricetta {
        width: 100px;
    }
}

@media(min-width: 650px) {
    .ingredienti-ricetta .lista .box-ingrediente .ingrediente-ricetta {
        width: 430px;
    }
    .ingredienti-ricetta .lista .box-ingrediente .grammatura-ricetta {
        width: 100px;
    }
}


@media(min-width: 850px) {
    .ingredienti-ricetta .lista .box-ingrediente .ingrediente-ricetta {
        width: 600px;
    }
    .ingredienti-ricetta .lista .box-ingrediente .grammatura-ricetta {
        width: 100px;
    }
}

@media(min-width: 1050px) {
    .ingredienti-ricetta .lista .box-ingrediente .ingrediente-ricetta {
        width: 750px;
    }
    .ingredienti-ricetta .lista .box-ingrediente .grammatura-ricetta {
        width: 100px;
    }
}

.elettrodomestici-ricetta {
    margin-bottom: 20px;
}

.elettrodomestici-ricetta .elettrodomestico-ricetta {
    margin-left: 10px;
    width: 100%;
}

.ingredienti-ricetta .titolo-ingredienti-ricetta,
.elettrodomestici-ricetta .titolo-elettrodomestici-ricetta {
    font-size: 18px;
    font-weight: 600;
}